@font-face {
    font-family: 'Fredricka';
    src: url('assets/Fredericka_the_Great/FrederickatheGreat-Regular.ttf');
}

:root {
    --main-bg-color: rgb(141, 208, 91);
    --border-highlight: green;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 350px 1fr;
    grid-template-rows: max-content 1fr;
    gap: 10px;
    margin: 10px;
}

.container > div {
    border-left: 5px solid var(--border-highlight);
    border-radius: 20px;
}

.header {
    padding: 20px;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    background-color: var(--main-bg-color);
}

.header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > div > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search .input-bar {
    width: 400px;
    height: 20px;
    padding: 5px;
    color: black;
    border: 1px solid white;
    border-radius: 1rem;
}

.search-btn {
    width: 30px;
    height: 30px;
}

.project-buttons > button {
    color: black;
    background-color: white;
    height: 30px;
    width: 100px;
    border-radius: 1rem;
    border: none;

}

.side-bar {
    background-color: var(--main-bg-color);
    padding: 20px;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 50px);
}

.branding, .nav-option {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(auto-fit, auto);
    gap: 20px;
    align-self: center;
}

.branding {
    place-items: center;
    grid-row: 1 / span 2;
}

.logo, .nav-option img, .search .btn, .bell, .profile {
    width: 50px;
    height: 50px;
    justify-self: right;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-option img, .search .btn, .bell {
    width: 30px;
    height: 30px;
    background: none;
}

.search .btn, .bell, .profile {
    border-radius: 1rem;
}

.main-content {
    background-color: var(--main-bg-color);
    padding: 20px;

    grid-column: 2 / -1;
    grid-row: 2 / -1;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.project-container {
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content repeat(3, 1fr);
    gap: 20px;
}

.card {
    /* background-color: black; */
    background-image: url('assets/blackboard.jpg');
    background-repeat: no-repeat;
    background-size: 500px;
    border-radius: 1rem;
    border-left: 5px solid var(--border-highlight);
    padding: 10px;
}

.card h3, .card p {
    font-family: 'Fredricka';
}

.project-container h3 {
    grid-column: 1 / span 2;
}

.alert-container {
    display: grid;
    grid-template-rows: max-content 1fr max-content 1fr;
    gap: 20px;
}